$white: white;
$gradient-soft-violet: hsl(273, 75%, 66%);
$gradient-soft-blue: hsl(240, 73%, 65%);


$color-text-desaturated-blue: hsl(238, 29%, 16%);
$color-text-soft-red: hsl(14, 88%, 65%);

$color-text-very-dark-blue:  hsl(237, 12%, 33%);
$color-text-greyish-blue: hsl(240, 6%, 50%);

$font: 'Kumbh Sans', sans-serif;